#blockpage {
    width: 76.8rem;
    flex-direction: row;
}

/************** LEFT ****************/

#left {
    width: 31%;
    position: relative;
}
img {
    position: initial;
    margin: 1rem auto;
    border-color: #00304f;
}
#contact{
    text-align: initial;

}
#about p{
    padding: initial;
}

#hobby {
    position: absolute;
    bottom: 0;

}

/****************** RIGHT *************/
#right {
    width: 69%;
    margin-top: 0;
    padding-right: 0;
}
h1, h2 {
    text-align: initial;
}

#recommendation h5{
    width: 100%;
}

