body{
	margin: 0 ;
}
#blockpage{
	background-color: #F1E6A4;
	width: 1200px;
	margin:0 auto;
	display: flex;
}

h1{
	margin: 0 auto;
	text-align: center;
}

#left{
	width: 35%;
	background:lightgrey ;
}
