body{
	margin: 0 ;
}
#blockpage{
	width: 1200px;
	margin:0 auto;
	display: flex;
	flex-direction: row-reverse;
}

h1{
	margin: 0 auto;
	text-align: center;
}

p,h2{
	color: #555555;
}

#left{
	width: 300px;
	background-color: #FECA07 ;
}
#right{
	width: 900px;
}