html{
	font-size: 62.5%;
}
body{
	margin: 0 ;
}
#blockpage{
	width: 99.2rem;
	margin:0 auto;
	display: flex;
}

h1{
	margin: 0 auto;
	text-align: center;
}

p,h2{
	color: #555555;
}

#left{
	width: 30rem;
	background-color: #fecf0a ;
}

img{
	display: block;
	margin: 1rem auto;
	width: 18rem;
	height: auto;
	border: solid #e9ba28 0.4rem;
	border-radius: 10rem;

}
#right{
	width:66rem;
}

article p{
	margin-left: 3.5rem;
	margin-right: 3.5rem;
}

article h3{
	text-align: center;
	background-color: #4b4b4b;
	color: #fecf0a;
}